@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    /* touch-action: none; */

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../public/images/bgimg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.bg-background {
    background-image: url("https://tuk-cdn.s3.amazonaws.com/can-uploader/Screenshot_2022-11-03_011620-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#canvas {
    touch-action: none;
}
.bg-hun {
    background-image: url("../public/images/bgimg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width: 768px) {
    #canvas {
        width: 350px;
        height: 300px;
    }
}
/* @media (min-width: 768px) {
    #canvas {
        width: 750px;
        height: 700px;
    }
} */
@media (min-width: 768px) {
    #canvas {
        width: 700px;
        height: 500px;
    }
}
